@{
    ViewBag.Title = "Home Page";
}
<body>
<div>
   
</div>

    </body>
<style>
    body {
        background: src="~/Content/images1.jpg" no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
</style>